name: Scorecard
on:
  schedule:
    - cron: "15 6 * * 1"
  push:
    branches: [main]

permissions:
  security-events: write
  id-token: write
  contents: read

jobs:
  analysis:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7
        with:
          egress-policy: audit
      - uses: ossf/scorecard-action@dc50aa9510b46c811795eb24b2f1ba02a914e534
        with:
          results_file: results.sarif
          publish_results: true
      - uses: github/codeql-action/upload-sarif@662472033e021d55d94146f66f6058822b0b39fd
        with:
          sarif_file: results.sarif
